@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #0C0500;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Estilo para la frase de lanzamiento */
.launch-message {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #17a2b8;
  font-weight: bold;
  text-align: center;
}

/* Add a dark overlay */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(124, 21, 150, 0.5);*/
}

#loading {
  font-size: 24px;
  color: #16383b;
}

#countdown {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, hsl(269, 85%, 79%), #5b21b6); /* Degradado de morado pastel a morado oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
}

.time-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.time h2 {
  font-size: 2.5rem;
  margin: 0;
}

.time small {
  font-size: 1.2rem;
  margin-top: 5px;
  color: hsl(0, 0%, 100%);
}

#fogos {
  display: none;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.time h2 {
  animation: pulse 1s infinite;
  transition: transform 0.3s ease;
}

.time h2:hover {
  transform: scale(1.2);
}


@media (max-width: 500px) {
  #titulo {
    font-size: 1.5rem;
  }

  .time h2 {
    font-size: 2rem;
  }

  .time small {
    font-size: 1rem;
  }
}
