* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.error {
    color: red;
    font-size: smaller;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8a2be2;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que el menú de navegación ocupe el espacio disponible */
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1; 
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav .btn-login {
    background-color: #17a2b8;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav .btn-login:hover {
    background-color: #138496;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #33333380;
    color: #fff;
}

footer p {
    margin: 0;
}

#frase {
    text-align: center;
    max-width: 100%;
    color: #17a2b8;
    box-sizing: border-box;
    unicode-bidi: isolate;
    margin-bottom: 20px;
    display: flex;
}