
.image-section {
  max-width: 520px;
  max-height: 350px;
  margin: 0px auto 0px;  /* Centradas */
  overflow: hidden;   /* Para que muestre solo la primera imagen */
  border: 4px solid rgb(252, 0, 0);
  border-radius: 5%;
}

.image-section ul {
  list-style: none; /* Esto quita el icono de lista */
  display: flex;    /* Para que esten hacia el lado */
  animation: movimiento_slider  60s infinite alternate ease-in-out ;
}

.image-section li {
  padding: 0px 2px;
}

@keyframes movimiento_slider {

  0%{ margin-left: 0%;}
  20%{ margin-left: 0%;}

  25%{margin-left: -105%;}
  45%{margin-left: -105%;}

  50%{margin-left: -230%;}
  70%{margin-left: -230%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

  
}