@media (width < 600px) {
    header nav ul li {
        display: unset; 
      }
    
      header nav ul li:not(:first-child){
        display: none;
      }
      header nav ul form {
        display: none;
      }
      header nav p {
        display: none;
      }
    
    
    
    .card-container {
        position: absolute;
        top: 12%;
        width: 100vw;
        border-radius: 0;
        height: 100vh;
    }
    .card-body {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-body button {
      height: 15%;
      width: 65%;
      border: none !important;  
      box-shadow: 0 0 5px lightgrey;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      font-size: 1.3em;
      cursor: pointer;
    }
    .card-body button:not(.whatsapp-button) {
      margin: 3em;
    }
    .card-body .whatsapp-button {
      background-color: lightgreen;
    }
    .action-buttons button {
      height: 3em;
      width: 9em;
      border: none !important;  
      box-shadow: 0 0 5px lightgrey;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      font-size: 1.3em;
      cursor: pointer;
    }
      .loading-img {
        margin-top: 4em;
      }
      form#command button {
      margin-top: 2em;
        width: 84vw;
      }
    }