@media(width < 800px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    justify-content: space-between;
    padding: 0;
  }
  .superiorformulario {
    display: none;
  }
  #frase p {
    display: none;
  }
  section#frase {
    position: relative;
    top: 100px;
    
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: lowercase;
    text-align: center;
    z-index: 2;
  }
  section#registro {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    border-radius: 0;
    border: none;
    background-color: #f4f4f4;
    border-top: none;
    margin: 0;
    padding: 0 5%;
    padding-top: 70%;
    position: absolute;
    z-index: 1;
    
  }
  .form-element {
    position: absolute;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;
    gap: 0.5em;
    
    transition: transform 0.5s ease;
  }
  .form-element div {
    width: 100%;
    height: 8vh;

  }
  .form-element div:nth-of-type(2) div div {
    width: 40%;
    height: 2em;
    font-size: 2em;
    background-color: lightgray;
    border-radius: 20px;
    
    padding-left: 2%;
    padding-top: 2%;
    
    color: hsla(0, 0%, 0%, 0.671);
  }
  .form-parte-1 {
    top: 30%;
    left: 5%;
  }
  .form-parte-2 {
    left: 105vw;
    top: 30%;
  }
  .form-parte-3 {
    left: 105vw;
    top: 30%;
  }
  
  
  
  .form-parte-3 h2 {
    display: inline-block !important;
    font-size: 2em;
    color: hsla(0, 0%, 0%, 0.671);
  }
  section#registro label {
    display: none;
  }
  section#registro form input {
    height: 2em;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    border-radius: 0;
    border: none;
    font-size: 2em;
  }
  section#registro form input#numero {
    margin-left: -13%;
  }
  section#registro input:focus {
    outline: 3px solid #17a2b8;
  }
  section#registro input::placeholder {
    opacity: 0.4;
  }
  section#registro select {
    width: 100%;
    height: 100%;
    border: none;
    
    padding: 0 5%;
    font-size: 1.5em;
    
  }
  section#registro select:focus {
    outline: 3px solid #17a2b8;
  }
  
  
  
  
  
  
  form button {
    position: absolute;
    width: 90vw;
    height: 3em;
    padding: 0;
    
    top: 65vh;
    font-size: 1.5em;
    font-weight: bold;
    
  }
  form button:last-of-type {
    top: 78vh;
    background-color: #00000038;
  }
  form button:active {
    opacity: 0.5;
  }

  .error {
    display: none;
  }
  .input-error {
    outline: 3px solid red;
  }
}