* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    /* el body DEBE OCUPAR el 100% del alto de la ventana */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Main Section */

main {
    margin-top: 80px; /* Ajusta según la altura del header */
    padding: 0px 20px;
    background-color: #fff;
    flex: 1; /* Permite que el main ocupe el espacio disponible */
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    min-height: 100vh; 
    padding: 40px 20px;
    background-color: #ffffff; 
}

/* Contenedor del texto */

.hero-text {
    flex: 1; 
    max-width: 50%; 
    margin-right: 20px; 
}

.hero h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.hero h2 span {
    color: #8a2be2;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.register-options {
    margin-top: 20px;
}

.register-button {
    margin-bottom: 20px;
}

.register-button p {
    font-size: 1.1rem;
    margin-bottom: 10px; /* Espacio entre el texto y el botón */
}

.btn-solicitador, .btn-prestador {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    width: 200px; 
}

.btn-solicitador {
    background-color: #17a2b8;
    display: block; 
    margin-bottom: 10px; /* Espacio entre los botones */
}

.btn-prestador {
    background-color: #8a2be2;
    display: block; 
}

.btn-solicitador:hover, .btn-prestador:hover {
    opacity: 0.9;
}

/* Todo formulario de registro */

.superiorformulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    background-color: #17a2b8;
    min-width: 500px;
    min-height: auto;
    color: #fff;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc; /* Borde del formulario */
    background-color: #17a2b8;  /*Color de fondo */ 
    min-height: 500px;
    min-width: 500px;
    margin: 0px;
    padding: 20px;
}

form label {
    font-size: 1rem;
    color: #fff;
    display: block; /* Que el label ocupe toda la línea */
    font-weight: bold; /* Negrita para el label */
    margin-bottom: 5px; /* Espaciado debajo del label */
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #8a2be2;
    border: 2px solid;
    outline: none;
}

form .error {
    color: red;
    font-size: 0.875rem;
    margin: 0;
}

button {
    background-color: #8a2be2;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #6f1fb2;
}

/* Frase central */

#frase {
    color: #8a2be2;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

